html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0;
  overflow: hidden; /* no scroll bar so we must set heights */
  -webkit-box-sizing: border-box; /* measure width & height w/o padding & border */
  box-sizing: border-box;
  height: 100%;
}

body table {
  width: 100%;
  height: 100%;
  line-height: 1em;
  font-family: monospace;
}

.log {
  height: 10em;
}

.splitter {
  background-color: #d0d0d0;
  height: 3px;
  /* cursor: move; */
}

.userDirectedEditor {
  vertical-align: text-top;
  height: 100%;
}

.CodeMirror-scroll {
  overflow: auto;
  height: 100%;
}

.hide {
  display: none;
}