/*
// Google BSD license http://code.google.com/google_bsd_license.html
// Copyright 2011 Google Inc. johnjbarton@google.com
*/
html {
  height: 100%;
}

body {
  margin: 0px;
  overflow: hidden; /* no scroll bar so we */
  -webkit-box-sizing: border-box; /* measure width & height w/o padding & border */
  box-sizing: border-box;
  height: 100%;
}

body table {
  width: 100%;
  height: 100%;
  line-height: 1em;
  font-family: monospace;
  border-spacing: 0px;
}

.log {
  height: 10em;
}

.splash {
  margin: 3em;
}

.userDirectedEditor {
  vertical-align: text-top;
  height: 100%;
}

.CodeMirror-scroll {
  overflow: auto;
  height: 100%;
}

.CodeMirror-lines {
  padding: 0; /* bring the code close up the the splitter and egdes */
}

.CodeMirror-gutter-text {
  padding: 0em .2em .4em .4em; /* match the CodeMirror-lines so the line numbers match the lines */
}

.hide {
  display: none;
}