/*
// Google BSD license http://code.google.com/google_bsd_license.html
// Copyright 2011 Google Inc. johnjbarton@google.com
*/
.logScrubber {
	height: 1em;
	position: relative;
	-webkit-flex: none;
}

.scrubberBox {
	color: #272822; /* reverse from cm-s */
	background-color: #f8f8f2;
	border-radius: 5px;
}

.logScrubber .scrubberIndicator {
	position: absolute;
	width: 3ex;
	height: 1em;
	border: red solid 1px;
	right: 1ex;
	padding: 0px;
}

.runNumber {
    background: #272822; 
    color: #f8f8f2;
    border-radius: 999px; /* any value larger than the radius of the object gives a circle */
    padding-left: .3em;
    padding-right: .3em;
}

.log {
  min-height: 10ex;
  -webkit-flex-grow: 2;
  -webkit-flex-shrink: 0;
  -webkit-flex-basis: auto;
  -webkit-flex-flow: row;
  display: -webkit-flex;
  -webkit-justify-content: flex-end;
}

.floaty {
  -webkit-flex-grow: 4;
}

.squishy {
  -webkit-flex-shrink: 100;
  height: 100ex;
}

.log {
  color: #75715e;
  cursor: default;
}
.log table,tr {
  width: 100%;
  border: none;
  border-spacing: 0px;
}
.log td {
  padding-top: 0px;
  padding-bottom: 0px;
}
.log .loadNumber {
  padding-left: 2px;
}
.log .turnNumber {
  border-right: 1px solid #75715e;
  padding-right: 2px;
}
.log .messages {
  width: 100%;
}
.log .messages div {
  padding-left: 3px;
}
.log .messages div {
  background-color: rgb(56, 58, 45);
  color: rgb(141, 141, 134);
}
.log .messages div[odd="1"] {
  color: rgb(148, 143, 118);
  background-color: rgb(32, 32, 29);
}
