/*
// Google BSD license http://code.google.com/google_bsd_license.html
// Copyright 2011 Google Inc. johnjbarton@google.com
*/
.logScrubber {
	height: 15px;
	position: relative;
}

.scrubberBox {
	color: #272822; /* reverse from cm-s */
	/*background: -webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 4px 4px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 4.5px;
    background-color:#272822;
    background-size:8px 8px;
    */
    
	background-color: #75715E;
	font-size: 0px; /* prevent whitespace */
;
	height: 15px;
	line-height: normal;
    white-space: nowrap;
}

.scrubberBox span {
  display: inline-block;
  line-height: normal;
}

.scrubberBox .messages span {  /* spans to have width and height */
  height: 11px;
  width: 9px;
  border: 1px solid #75715E;
}


.logScrubber span.loadNumber:before {
    content: attr(load);
    font-size: 10px;
    color: #d0d0d0;
    background-color: #272822;
    position: absolute;
    border: 1px solid #272822;
    border-radius: 2em;
    width: 1em;
    padding-left: 2px;
    margin-top: 1px;
}

/* http://colorschemedesigner.com/#1q11T6ieGw0w0 */
.logScrubber span.turnNumber:nth-child(even) {
    border: 2px solid #1D1E1B;
}
.logScrubber span.turnNumber:nth-child(odd) {
    border: 2px solid #919483;
}

.logScrubber span.turns {
    border: none;
    margin-left: 15px;
}

.logScrubber .error {
    background-color: red;
}
.logScrubber .warning {
    background-color: rgb(255, 208, 69);
}
.logScrubber .log {
  background-color: #272822;
}
.logScrubber:hover span.scrubberIndicator {
	position: absolute;
	width: 30ex;
	height: 15px;
	padding: 0px;
	top: 0px;
	background-color: transparent;
	border: purple 2px solid;
	left: 400px;
}
.logScrubber span.scrubberIndicator:hover {
  opacity: .8;
}

.runNumber {
    background: #272822; 
    color: #f8f8f2;
    border-radius: 999px; /* any value larger than the radius of the object gives a circle */
    padding-left: .3em;
    padding-right: .3em;
}

.floaty {
  overflow-y: scroll;
  overflow-x: auto;
  min-height: 200px;
  max-height: 600px;
  resize: vertical;
}

.squishy {
  -webkit-flex-shrink: 100;
  height: 100ex;
}

.logView {
  color: #75715e;
  cursor: default;
}
.logView table,tr {
  width: 100%;
  height: 100%;
  border: none;
  border-spacing: 0px;
}
.logView td {
  padding-top: 0px;
  padding-bottom: 0px;
}
.logView .loadNumber {
  padding-left: 2px;
  width: 2ex;
  margin-right: 1ex;
}
.logView .turnNumber {
  border-right: 1px solid #75715e;
  padding-right: 2px;
}
.logView .messages {
  width: 100%;
}
.logView .messages div {
  padding-left: 3px;
}
.logView .messages div {
  background-color: rgb(56, 58, 45);
  color: rgb(141, 141, 134);
}
.logView .messages [severity="warning"] {
  color: rgb(255, 208, 69);
}
.logView .messages [severity="error"] {
  color: rgb(255, 0, 0);
}
.logView .messages div[odd="1"] {
  color: rgb(148, 143, 118);
  background-color: rgb(32, 32, 29);
}
