/*
// Google BSD license http://code.google.com/google_bsd_license.html
// Copyright 2011 Google Inc. johnjbarton@google.com
*/
.logScrubber {
	height: 1em;
}

.scrubberBox {
	color: #272822; /* reverse from cm-s */
	background-color: #f8f8f2;
	border-radius: 5px;
}

.logScrubber .scrubberIndicator {
	position: absolute;
	width: 3ex;
	height: 1em;
	border: red solid 1px;
	right: 1ex;
	padding: 0px;
}

.runNumber {
    background: #272822; 
    color: #f8f8f2;
    border-radius: 999px; /* any value larger than the radius of the object gives a circle */
    padding-left: .3em;
    padding-right: .3em;
}