/*
// Google BSD license http://code.google.com/google_bsd_license.html
// Copyright 2011 Google Inc. johnjbarton@google.com
*/
.buffersStatusBar {
	height: 1em;
    color: #272822; /* reverse from cm-s */
	background-color: #f8f8f2;
	position: relative;
	font-size: 15px;

}

.buffersStatusBar .commandLine {
  height: 17px; 
  border-radius: 7px;
}


.buffersStatusBar .unsavedChangedFiles {
	color: #f92672;
	float: right;
	margin-right: 2px;
	cursor: pointer;
}

.buffersStatusBar .savedChangedFiles {
	color: #a6e22e;
	float: right;

	margin-right: 2px;
	cursor: pointer;
}

.buffersStatusBar .centeringHack {
   	padding-top: 2px; 
}