/*
// Google BSD license http://code.google.com/google_bsd_license.html
// Copyright 2011 Google Inc. johnjbarton@google.com
*/

.workSpace {
  /* as a flex item */  
  -webkit-flex: 1;  
  /* as a flex container */
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  /*  */
  min-height: 1em;
}

.fileViews {
  /* as a flex item */
  -webkit-flex: 1;   
  /* as a flex container */
  display: -webkit-flex;  
  -webkit-flex-flow: column;
  -webkit-flex-wrap: nowrap;
  width: 100%;
  min-width:  0px;
}


.fileView {
  /* as a flex item */
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex: 1;  /* Each file gets the same space */
  min-height: 1em;
  border-bottom: 1px solid #75715E;
}

.box {
  outline: 1px solid red;
  position: absolute;
}

.fileEditor {
  -webkit-flex: 0 0 70%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  min-width: 20ex;
}

.CodeMirror {
  -webkit-flex: none;
  height: 100%;
}

.CodeMirror .box {
  margin-left: 4px; /* needed to match the padding of <pre> lines */
}

.updatedOnTurnNumber {
    visibility: hidden;
}

.querypointViewModel_syncState {
    text-align: center;
    color: #75715e;
}

/* Editors */

.CodeMirror-scroll {

}

.CodeMirror-lines {
  padding: 0; /* bring the code close up the the splitter and edges */
  cursor: pointer; /* the text pointer has no hot spot */
}

.CodeMirror-gutter-text {
  padding: 0em .2em .4em .4em; /* match the CodeMirror-lines so the line numbers match the lines */
}

/* dark by default so active stands out */
.cm-s-monokai .CodeMirror-linenumber  {color: #75715e;}
.cm-s-monokai .qp-no-activations .CodeMirror-linenumber  {color: #75715e;}
.cm-s-monokai .qp-traces .CodeMirror-linenumber  {color: #d0d0d0;}
.cm-s-monokai .qp-activations .CodeMirror-linenumber {color: rgb(6, 137, 255);}
.cm-s-monokai .qp-highlight {
   background-color: #FFE792;
   color: #000000 !important;
   font-size: larger;
}
.cm-s-monokai .qp-decorate {
   border: 1px dotted rgb(255, 249, 227);
   border-radius: 5px;

}