/*
// Google BSD license http://code.google.com/google_bsd_license.html
// Copyright 2011 Google Inc. johnjbarton@google.com
*/

.hoverDoorTarget { 
}

.tokenFollowControl {
    margin: auto;
    min-width: 0px;
    width: auto;
}

.QPOutput {
  padding: 4px;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-flex: 0 0 30%;
  min-width: 20ex;
}

.currentExpression {
    padding-top: 1ex;
    padding-bottom: 1ex;
}

.currentExpression .box {
    padding-top: 1ex;
}
.currentExpression pre { 
  margin: 0px;
}
.clonedEditorLine {
}   

.QPOutput caption {
  border-bottom: 1px solid #75715e;
  color: #75715e;
}
.QPOutput th {
  font-weight: normal;
  color: #75715e;
  border-bottom: 1px solid #75715e;
}


pre.traceBackground {
  text-indent: -9999px;  /* sends the text off-screen */
  background-color: #75715e;
}

.hide {
  display: none !important;
}

.fileScope {
  color: #75715e;
}

.queryButtons {
}

.command {
  font-family: Lucida Grande, sans-serif;
  font-size: smaller;
  background-color: #272822;
  color: #d0d0d0;
  border-radius: 400px;
  padding-left: 4px;
  font-weight: normal;
  padding-right: 4px;
  border: 2px solid #75715e;
  cursor: pointer;
}

.command:hover {
  background-color: #272822;
  color: #75715e; 
}

.QPOutput [data-active="true"] {
  border-color: blue;
}


.QPOutput .reexecution {
  padding: 1ex;
  border:  1px solid #f8f8f2;
}

.tokenView {
}

.overflowMe {
  overflow: hidden;
}


.hoverDoorChannel {
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  margin-bottom: -9px;
}
.closed {
  min-width: 0px !important;
  -webkit-flex-basis: 0px !important;
}
.closed p {
  display: none;
}
.closed .overflowMe {
  display: none;
}
.closed .hoverCloser {
  display: none;
}
.closed .hoverOpener {
  display: block !important;
}

.hoverDoorChannel .hoverOpener {
  display: none;
}
.hoverDoor {
     height:9px;
     border-top: 9px solid #d0d0d0;
     z-index: 10;
}
.hoverSpacer {
  -webkit-flex: auto;
  border-top-color: transparent;
}
.hoverOpener {
     border-right: 9px solid transparent;
     float: right;
     cursor: e-resize;
}
.hoverCloser {
     border-left: 9px solid transparent;

     cursor: w-resize;
}

.hoverDoor span {
  display: none;
}

.hoverDoor.hoverCloser:hover, .hoverDoor.hoverOpener:hover {
  width: 20ex;
  font-size: 9px;
  padding-bottom: 2px;
  font-family: sans-serif;
}

.hoverDoor:hover span {
  display: inline;
  padding-left: 3ex;
  color: #f8f8f2;
}
.QPOutput .hoverDoor {
  margin-top: -4px; /* compensate for QPOutput padding */
}

