/*
// Google BSD license http://code.google.com/google_bsd_license.html
// Copyright 2011 Google Inc. johnjbarton@google.com
*/
html {
  height: 100%;
}

body {
  margin: 0px;
  overflow: hidden; /* no scroll bar so we */
  -webkit-box-sizing: border-box; /* measure width & height w/o padding & border */
  box-sizing: border-box;
  height: 100%;
}

.panel {
  width: 100%;
  height: 100%;
  line-height: 1em;
  font-family: monospace;
  border-spacing: 0px;
}

.log {
  height: 10em;
}

.panelInitialization {
  margin: 0;
  background: gray; 
  width:      100%;
  height:     100%; 
  z-index:    100;
  top:        0; 
  left:       0; 
  position: fixed;
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  padding: 3em;
}

.largeMessage {
  padding: 3em;
  font-size: xx-large;
  font-family: arial,san-serif;}

.userDirectedEditor {
  float: right;
  height: 100%;
}

.sourceViewport {
  width: 100%;
  height: 100%;
}

.QPOutput {
  float: left;
}

.CodeMirror-scroll {
  overflow: auto;

}

.CodeMirror-lines {
  padding: 0; /* bring the code close up the the splitter and edges */
}

.CodeMirror-gutter-text {
  padding: 0em .2em .4em .4em; /* match the CodeMirror-lines so the line numbers match the lines */
}

.cm-s-monokai .CodeMirror-gutter-text pre.qp-no-tracing {color: #75715e;}
.cm-s-monokai .CodeMirror-gutter-text pre.qp-not-exe {color: #75715e;}
.cm-s-monokai .CodeMirror-gutter-text pre.qp-activations {color: #035096;}

.hide {
  display: none;
}