/*
// Google BSD license http://code.google.com/google_bsd_license.html
// Copyright 2011 Google Inc. johnjbarton@google.com
*/
html {
  height: 100%;
}
/* apply a natural box layout model to all elements */
* {  
  box-sizing: border-box; 
}
body {
  margin: 0px;
  overflow: hidden; /* no scroll bar so we control */
  -webkit-box-sizing: border-box; /* measure width & height w/o padding & border */
  box-sizing: border-box;
  height: 100%;
}

.cm-s-monokai {background: #272822; color: #f8f8f2;}

.hbox {
  -webkit-flex-flow: row;
  -webkit-flex-wrap: nowrap;
  display: -webkit-flex;
  height: 100%;
  overflow-x: hidden;
}
.vbox {
  -webkit-flex-flow: column;
  -webkit-flex-wrap: nowrap;
  display: -webkit-flex;
  width: 100%;  
  min-width: 10ex;
}


.panel {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-family: monospace;
  border-spacing: 0px;
  -webkit-flex-flow: column;
  -webkit-flex-wrap: nowrap;
  display: -webkit-flex;
}

.onPanelOpen {
    padding: 1em;
}

.onPanelOpen .hint {
    float: right;
}

.onPanelOpen .initialOptions {
    padding-left: 1em;
}

.onPanelOpen button {
    border-radius: 999px;
    border-color: #75715e;
}

.onPanelOpen .noticeThis {
    font-size: x-large;
}

.showHelp .onPanelOpen .hint_overview {
    color: #75715e;
    background-color: #272822;
}

.splitter {
  border-color: #75715e;
  border-style: solid;
  position: relative;
  border-width: 0 0 1px 0;
}
.hoverDoorChannel {
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  margin-bottom: -9px;
}
.closed {
  width: 9px !important;
}
.closed .overflowMe {
  display: none;
}
.closed .hoverCloser {
  display: none;
}
.closed .hoverOpener {
  display: block !important;
}

.hoverDoorChannel .hoverOpener {
  display: none;
}
.hoverDoor {
     height:9px;

     border-top: 9px solid #d0d0d0;
     z-index: 10;
}
.hoverSpacer {
  -webkit-flex: auto;
  min-width: auto;
  border-top-color: transparent;
}
.hoverOpener {
     border-right: 9px solid transparent;
     float: right;
     cursor: e-resize;
}
.hoverCloser {
     border-left: 9px solid transparent;

     cursor: w-resize;
}

.hoverDoor span {
  display: none;
}

.hoverDoor.hoverCloser:hover, .hoverDoor.hoverOpener:hover {
  width: 20ex;
  font-size: 9px;
  padding-bottom: 2px;
  font-family: sans-serif;
}

.hoverDoor:hover span {
  display: inline;
  padding-left: 3ex;
  color: #f8f8f2;
}
.QPOutput .hoverDoor {
  margin-top: -4px; /* compensate for QPOutput padding */
}

.panelInitialization {
  margin: 0;
  background: gray; 
  width:      100%;
  height:     100%; 
  z-index:    100;
  top:        0; 
  left:       0; 
  position: fixed;
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  padding: 3em;
}

.largeMessage {
  padding: 3em;
  font-size: xx-large;
  font-family: arial,san-serif;
}

.helpInfo {
    display: none;
}

.showHelp .helpInfo {
    z-index: 200;
    position: absolute;

    display: inline;
    color: #d0d0d0;
    background-color: #75715e;
    padding: 1em;
    margin: 1em;
    border-radius: 999px; /* any value larger than the radius of the object gives a circle */
    width: 200px;
} 

.explainTokenPanel {
  font-family: Lucida Grande, sans-serif;
  font-size: smaller;
  text-align: center;
  margin-top: 1.5ex;
  color: #d0d0d0;
  border: 2px solid #75715e;
  border-radius: 20px;
  padding-left: 1ex;
  padding-right: 1ex;
}

.workSpace {
  /* as a flex item */  
  -webkit-flex: 1;  
  /* as a flex container */
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  /*  */
  min-height: 1em;
}

.fileViews {
  /* as a flex item */
  -webkit-flex: 1;   
  /* as a flex container */
  display: -webkit-flex;  
  -webkit-flex-flow: column;
  -webkit-flex-wrap: nowrap;
  width: 100%;
  min-width:  0px;
}


.fileView {
  /* as a flex item */
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex: 1;  /* Each file gets the same space */
  min-height: 1em;
  height: 100%;
}

.hoverDoorTarget { 
}

.tokenFollowControl {
    margin: auto;
    min-width: 0px;
    width: auto;
}

a {
  color: -webkit-link;
  text-decoration: underline;
  cursor: pointer;
}

a:focus, a:active {
  background-color: rgb(33, 34, 31);
  outline: none;
}

.QPOutput {
  padding: 4px;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-flex: 0 0 30%;
  min-width: 20ex;
}

.tokenView {
}

.overflowMe {
  overflow: hidden;
}

.traceView {
  padding-left: 4px;
  position: relative;
}
.traceView .fileName {

}
.box {
  outline: 1px solid red;
  position: absolute;
}


.fileEditor {
  -webkit-flex: 0 0 70%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  min-width: 20ex;
}

.CodeMirror {
  -webkit-flex: none;
  height: 100%;
}

.CodeMirror .box {
  margin-left: 4px; /* needed to match the padding of <pre> lines */
}

.currentExpression {
    padding-top: 1ex;
    padding-bottom: 1ex;
}
.currentExpression .box {
    padding-top: 1ex;
}
.currentExpression pre { 
  margin: 0px;
}
.clonedEditorLine {
}   

.QPOutput caption {
  border-bottom: 1px solid #75715e;
  color: #75715e;
}
.QPOutput th {
  font-weight: normal;
  color: #75715e;
  border-bottom: 1px solid #75715e;
}



pre.traceBackground {
  text-indent: -9999px;  /* sends the text off-screen */
  background-color: #75715e;
}

.hide {
  display: none !important;
}

.traceView {
  display: none;
}

.traceView[hasTraceData="true"] {
  display: block;
}

.fileScope {
  color: #75715e;
}

.queryButtons {
}

.command {
  font-family: Lucida Grande, sans-serif;
  font-size: smaller;
  background-color: #272822;
  color: #d0d0d0;
  border-radius: 400px;
  padding-left: 4px;
  font-weight: normal;
  padding-right: 4px;
  border: 2px solid #75715e;
  cursor: pointer;
}

.command:hover {
  background-color: #272822;
  color: #75715e; 
}

.activation {
  color: #75715e;
  height: 1.2em;
  line-height: 1.2;
}

.activation span {
    line-height: 1.0;
}

.QPOutput [data-active="true"] {
  border-color: blue;
}


.QPOutput .reexecution {
  padding: 1ex;
  border:  1px solid #f8f8f2;
}

.updatedOnTurnNumber {
    visibility: hidden;
}

.fileViewModel_syncState {
    text-align: center;
    color: #75715e;
}

/* Editors */

.CodeMirror-scroll {

}

.CodeMirror-lines {
  padding: 0; /* bring the code close up the the splitter and edges */
  cursor: pointer; /* the text pointer has no hot spot */
}

.CodeMirror-gutter-text {
  padding: 0em .2em .4em .4em; /* match the CodeMirror-lines so the line numbers match the lines */
}

/* dark by default so active stands out */
.cm-s-monokai .CodeMirror-linenumber  {color: #75715e;}
.cm-s-monokai .qp-no-activations .CodeMirror-linenumber  {color: #75715e;}
.cm-s-monokai .qp-traces .CodeMirror-linenumber  {color: #d0d0d0;}
.cm-s-monokai .qp-activations .CodeMirror-linenumber {color: rgb(6, 137, 255);}
.cm-s-monokai .qp-highlight {
   background-color: #FFE792;
   color: #000000 !important;
   font-size: larger;
}
/* .qp-fade * {   I cannot get transitions to work
    border-bottom: none;
    transition: border-bottom 4s ease-in-out;
    -webkit-transition: border-bottom 4s ease-in-out;
   } */

.traceBody::-webkit-scrollbar{
    width: 8px;
    height: 16px;
}

.traceBody::-webkit-scrollbar-thumb{
    background-color: rgba(248,248,242,0.4);
    -webkit-box-shadow: inset 1px 1px 0 rgba(39,40,34,0.10),inset 0 -1px 0 rgba(39,40,34,0.07);
}

.traceBody::-webkit-scrollbar-button{
    width: 0;
    height: 0;
    display: none;
}

.traceBody::-webkit-scrollbar-corner{
    background-color: transparent;
}

.traceBody{
  overflow-y: scroll;
  display: block;
}
