/*
// Google BSD license http://code.google.com/google_bsd_license.html
// Copyright 2011 Google Inc. johnjbarton@google.com
*/
html {
  height: 100%;
}

body {
  margin: 0px;
  overflow: hidden; /* no scroll bar so we */
  -webkit-box-sizing: border-box; /* measure width & height w/o padding & border */
  box-sizing: border-box;
  height: 100%;
}

.panel {
  width: 100%;
  height: 100%;
  line-height: 1em;
  font-family: monospace;
  border-spacing: 0px;
  -webkit-flex-flow: column;
  display: -webkit-flex;
}

.splitter {
  border-color: #75715e;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.log {
  height: 10em;
  min-height: 4ex;
}

.panelInitialization {
  margin: 0;
  background: gray; 
  width:      100%;
  height:     100%; 
  z-index:    100;
  top:        0; 
  left:       0; 
  position: fixed;
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  padding: 3em;
}

.largeMessage {
  padding: 3em;
  font-size: xx-large;
  font-family: arial,san-serif;
}

.userDirectedEditor {
  height: 100%;
  position: relative;
  -webkit-flex-grow: 2;
  -webkit-flex-shrink: 1;
  -webkit-flex-basis: 648px;
  display: -webkit-flex;
}

.explainTokenPanel {

  font-family: Lucida Grande, sans-serif;
  

  -webkit-flex: 1 2 auto;

}

.sourceViewport {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: row;
}

.QPOutput {
    -webkit-flex-grow: 1;
    -webkit-flex-shrink: 1;
    -webkit-flex-basis: 401px;
}

.CodeMirror-scroll {
  overflow: auto;

}

.CodeMirror-lines {
  padding: 0; /* bring the code close up the the splitter and edges */
  cursor: pointer; /* the text pointer has no hot spot */
}

.CodeMirror-gutter-text {
  padding: 0em .2em .4em .4em; /* match the CodeMirror-lines so the line numbers match the lines */
}

.helpInfo {
    display: none;
}

.showHelp .helpInfo {
    z-index: 200;
    position: absolute;

    display: inline;
    color: #d0d0d0;
    background-color: #75715e;
    left: 4em;
    padding-left: 1ex;
    padding-right: 1ex;
    border-radius: 999px; /* any value larger than the radius of the object gives a circle */
}  

.cm-s-monokai .qp-no-activations .CodeMirror-linenumber  {color: #75715e;}
.cm-s-monokai .qp-traces .CodeMirror-linenumber  {color: #d0d0d0;}
.cm-s-monokai .qp-activations .CodeMirror-linenumber {color: rgb(6, 137, 255);}

.traceView {
  padding-left: 4px;
  position: relative;
}
.traceView .fileName {

}
.box {
  outline: 1px solid red;
  position: absolute;
}

.CodeMirror .box {
  margin-left: 4px; /* needed to match the padding of <pre> lines */
}

.currentExpression {
  margin-left: 4px; 
}

.QPOutput caption {
  border-bottom: 1px solid #75715e;
  color: #75715e;
}
.QPOutput th {
  font-weight: normal;
  color: #75715e;
  border-bottom: 1px solid #75715e;
}



pre.traceBackground {
  text-indent: -9999px;  /* sends the text off-screen */
  background-color: #75715e;
}

.hide {
  display: none;
}

.QPOutput .traceView {
  display: none;
}

.QPOutput .traceView[hasTraceData="true"] {
  display: block;
}

.QPOutput .fileScope {
  color: #75715e;
}

.QPOutput .queryButtons {
}

.QPOutput .command {
  font-family: Lucida Grande, sans-serif;
  font-size: smaller;
  background-color: #75715e;
  color: #272822;
  border-radius: 400px;
  padding-left: 4px;
  font-weight: bold;
  padding-right: 4px;
  border: 2px solid #d0d0d0;
  cursor: pointer;
}

.QPOutput .command:hover {
  background-color: #272822;
  color: #75715e;
}